@import url(/styles/header.css);
@import url(/styles/slider-images.css);
@import url(/styles/filter.css);
@import url(/styles/cards.css);
@import url(/styles/map.css);
@import url(/styles/elegirnos.css);
@import url(/styles/footer.css);

:root {
    --color1: #4E6151;;
    --color2: #5E8C61;;
    
    --color3: #FFFFFF;
}

/*general*/

body{
    font-family: "Josefin Sans", sans-serif;
}

.section1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0; 
    grid-template-areas: "section-1";
    place-items: center;
}

.section2 {
    background-color: #f7f7f7;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    place-items: center;
    
    gap: 10px;
    box-shadow: inset rgba(14, 30, 37, 0.12) 0px 8px 4px -6px, inset rgba(14, 30, 37, 0.32) 0px -8px 4px -6px;
}

.section3 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    text-align: center;
}

.section4 {
    height: auto;
    display: grid;
    background-color: #f7f7f7;
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    text-align: center;
    box-shadow: inset rgba(14, 30, 37, 0.12) 0px 8px 4px -6px, inset rgba(14, 30, 37, 0.32) 0px -8px 4px -6px;
    padding-bottom: 45px;
}
















    

    
  

