@import url(/styles/header.css);
@import url(/styles/slider-images.css);
@import url(/styles/filter.css);
@import url(/styles/cards.css);
@import url(/styles/map.css);
@import url(/styles/elegirnos.css);
@import url(/styles/footer.css);
@import url(/styles/vistaFiltro.css);

:root {
    --primary-100:#810000;
    --primary-200:#630000;
    --primary-300:#F0F5F9;
    --accent-100:#788189;
    --accent-200:#e1e4e6;
    --text-100:#1E2022;
    --text-200:#52616B;
    --bg-100:#EEEBDD;
    --bg-200:#DFD3C3;
    --bg-300:#C7B198;
}

/*general*/

body{
    font-family: "Josefin Sans", sans-serif;
}

.section1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0; 
    grid-template-areas: "section-1";
    place-items: center;
}

.section2 {
    background-color: var(--primary-300);
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    place-items: center;
    
    gap: 10px;
    box-shadow: inset rgba(14, 30, 37, 0.12) 0px 8px 4px -6px, inset rgba(14, 30, 37, 0.32) 0px -8px 4px -6px;
}

.section3 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    text-align: center;
}

.section4 {
    height: auto;
    display: grid;
    background-color: var(--primary-300);
    grid-template-columns: 1fr; 
    grid-template-rows: 6rem 1fr;
    text-align: center;
    box-shadow: inset rgba(14, 30, 37, 0.12) 0px 8px 4px -6px, inset rgba(14, 30, 37, 0.32) 0px -8px 4px -6px;
    padding-bottom: 45px;
}
















    

    
  

