.destacados {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    
    text-align: center;
    align-self: flex-end;
    color: var( --primary-300);
}

.destacados {
    --s: 1.8em; /* the ribbon size */
    --d: .5em;  /* the depth */
    --c: .8em;  /* the cutout part */
    
    padding: var(--d) calc(var(--s) + var(--d) + .5em) 0;
    line-height: 1.8;
    background: 
      linear-gradient(90deg,#0004 var(--d),#0000 0 calc(100% - var(--d)),#0004 0) 
      50%/calc(100% - 2*var(--s)) 100% no-repeat;
    clip-path: polygon(0 0,var(--s) 0,calc(var(--s) + var(--d)) var(--d),calc(100% - var(--s) - var(--d)) var(--d),calc(100% - var(--s)) 0,100% 0,calc(100% - var(--c)) calc(50% - var(--d)/2),100% calc(100% - var(--d)),calc(100% - var(--s)) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) 100%,calc(var(--s) + var(--d)) 100%,var(--s) calc(100% - var(--d)),0 calc(100% - var(--d)),var(--c) calc(50% - var(--d)/2));
    background-color: var(--primary-100); /* the main color */
    width: fit-content;
}

.carousel-container {
    position: relative;
    width: 95%;
    height: 35rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    width: 50px;
    font-size: 40px;
    color: var(--primary-200);
    background: none;
    border: none;
    left: 0;
    cursor: pointer;
}

.next {
    width: 50px;
    font-size: 40px;
    color: var(--primary-200);
    background: none;
    border: none;
    right: 0;
    cursor: pointer;
}

.card-container {
    width: 100%;
    height: 35rem;
    padding-left: calc(28.5% - 20rem); 
    padding-right: calc(28.5% - 20rem);

    justify-self: center;

    display: grid;
    gap: 5rem;
    grid-template-columns: 20rem;
    grid-auto-flow: column;
    grid-auto-columns: 20rem;
    position: relative;

    align-items: center;
    place-items: center;
    overflow-x: hidden;
}

.card {
    width: 93%;
    height: 80%;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "descripcion"
    "caracteristicas";
    place-items: center;

    background-color: var(--primary-100);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-radius: 10px;
    transition: all .3s;
}

.card:hover {
    transform: scale(1.1);
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.typeBuy {

    font-size: 18px;
    font-weight: bold;
    color: var(--primary-300);

    background-color: var(--primary-100);
    margin: 1em 0 0 1em;
    padding: 7px;
    border-radius: 10px;

    align-self: flex-start;
    justify-self: flex-start;
    grid-area: descripcion;
    filter: brightness(1);
}

.card img {
    display: grid;
    width: 95%;
    height: 95%;
    
    filter: brightness(.8);
    
    border-radius: 10px;
    grid-area: descripcion;
    
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-300);

    margin: 0 0 1em 1em;

    justify-self: flex-start;
    align-self: flex-end;
    
    grid-area: descripcion;
    filter: brightness(1);

}

.card-info {
    width: 96%;
    height: 100%;

    display: grid;
    grid-template-rows: 3.5rem 1fr 3rem;
    grid-template-areas: 
    "superior"
    "medio"
    "inferior";
    gap: 10px;

    grid-area: caracteristicas;
}

.card-info h2 {
    font-size: 15px;
    color: var(--primary-300);
    margin-top: .5em;
    margin-left: .5em;

    grid-area: superior;
    align-self: flex-start;
}

.card-title {
    color: var(--primary-300);
    font-size: 18px;
    font-weight: bold;
    margin-left: .3em;

    grid-area: superior;
    align-self: flex-end;
}

.card-features {
    height: 100%;
    grid-area: medio;
    color: var(--primary-300);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr .8fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "direccion direccion direccion"
    "habitaciones baños superficie";
    place-items: center;

    font-size: 12px;
    border-bottom: 1px solid var(--primary-300) ;
}

.card-features li:first-child {
    margin-left: .3em;
    font-size: 16px;
    align-self: center;
    justify-self: flex-start;
    text-align: start;
    grid-area: direccion;
}

.card-link {
    width: 34.5%;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;

    grid-area: inferior;
    align-self: center;

    margin-left: .5em;
    text-decoration: none;
    background-color: var(--primary-300);
    color: var(--primary-200);
}

.codigo-Inmueble {
    grid-area: inferior;
    align-self: center;
    justify-self: flex-end;
    margin-right: .5em;
    color: var(--primary-300);
}

@media (max-width: 768px) {
    
    .carousel-container {
        position: relative;
        width: 100%;
        height: 35rem;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .prev {
        width: 50px;
        font-size: 40px;
        color: var(--primary-200);
        background: none;
        border: none;
        left: 0;
        cursor: pointer;
    }
    
    .next {
        width: 50px;
        font-size: 40px;
        color: var(--primary-200);
        background: none;
        border: none;
        right: 0;
        cursor: pointer;
    }
    
    .card-container {
        width: 100%;
        height: 35rem;
        padding-left: calc(28.5% - 18rem); 
        padding-right: calc(28.5% - 18rem);
    
        justify-self: center;
    
        display: grid;
        gap: 1em;
        grid-template-columns: 18rem;
        grid-auto-flow: column;
        grid-auto-columns: 18rem;
        position: relative;
    
        align-items: center;
        place-items: center;
        overflow-x: hidden;
    }
    
    .card {
        width: 95%;
        height: 80%;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "descripcion"
        "caracteristicas";
        place-items: center;
    
        background-color: var(--primary-100);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
        border-radius: 10px;
        transition: all .3s;
    }
    
    .card:hover {
        transform: scale(1.1);
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .typeBuy {
    
        font-size: 18px;
        font-weight: bold;
        color: var(--primary-300);
    
        background-color: var(--primary-200);
        margin: 1em 0 0 1em;
        padding: 7px;
        border-radius: 10px;
    
        align-self: flex-start;
        justify-self: flex-start;
        grid-area: descripcion;
        filter: brightness(1);
    }
    
    .card img {
        display: grid;
        width: 95%;
        height: 95%;
        
        filter: brightness(.8);
        
        border-radius: 10px;
        grid-area: descripcion;
        
    }
    
    .card p {
        font-size: 18px;
        font-weight: bold;
        color: var(--primary-300);
    
        margin: 0 0 1em 1em;
    
        justify-self: flex-start;
        align-self: flex-end;
        
        grid-area: descripcion;
        filter: brightness(1);
    
    }
    
    .card-info {
        width: 96%;
        height: 100%;
    
        display: grid;
        grid-template-rows: 3.5rem 1fr 3rem;
        grid-template-areas: 
        "superior"
        "medio"
        "inferior";
        gap: 10px;
    
        grid-area: caracteristicas;
    }
    
    .card-info h2 {
        font-size: 15px;
        color: var(--primary-300);
        margin-top: .5em;
        margin-left: .5em;
    
        grid-area: superior;
        align-self: flex-start;
    }
    
    .card-title {
        color: var(--primary-300);
        font-size: 18px;
        font-weight: bold;
        margin-left: .3em;
    
        grid-area: superior;
        align-self: flex-end;
    }
    
    .card-features {
        height: 100%;
        grid-area: medio;
        color: var(--primary-300);
        opacity: .9;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr .8fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "direccion direccion direccion"
        "habitaciones baños superficie";
        place-items: center;
    
        font-size: 12px;
        border-bottom: 1px solid var(--primary-300) ;
    }
    
    .card-features li:first-child {
        margin-left: .3em;
        font-size: 16px;
        align-self: center;
        justify-self: flex-start;
        text-align: start;
        grid-area: direccion;
    }
    
    .card-link {
        width: 34.5%;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
    
        grid-area: inferior;
        align-self: center;
    
        margin-left: .5em;
        text-decoration: none;
        background-color: var(--primary-300);
        color: var(--primary-200);
    }
    
    .codigo-Inmueble {
        grid-area: inferior;
        align-self: center;
        justify-self: flex-end;
        margin-right: .5em;
        color: var(--primary-300);
    }
}

