.map-title {
    color: var(--primary-200);
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}

.container-map {
    width: 85%;
    height: auto; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "map";
    justify-self: center;
    padding: 20px;
    gap: 10px;

    border-radius: 10px;
}

.container-ubicacion {
    max-width: 100%;
    height: auto; 
    grid-area: map;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start; 
    justify-self: center;
}

.image-wrapper {
    height: 23rem;
    flex: 21%; 
    margin: 5px; 
    transition: all .3s;
    position: relative; 
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-wrapper:first-child {
    flex: 55%;
}

.image-wrapper:last-child {
    flex: 55%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
    object-fit: cover; 
    filter: brightness(.7);
    cursor: pointer;
}

.image-wrapper p {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-300);

    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translate(-50% , -10%);
    z-index: 1;
}

.image-wrapper span {
    font-size:  17px;
    color: var(--primary-300);

    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50% , -10%);
    z-index: 1;
}

.image-wrapper:hover {
    z-index: 1; 
}

.image-wrapper:hover img{
    transform: scale(1.1); 
    filter: brightness(.8);
}

.button-map {
    color: var(--primary-300);
    font-size: 50px;

    grid-area: map;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    justify-self: flex-end;

    width: 5rem;
    height: 80px;
    background-color: var(--primary-100);
    border: none;
    border-radius: 50%;
    cursor: pointer;;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateX(38px);
    transition: .3s;
    z-index: 1;
}

.button-map:hover {
   background-color: var(--primary-100);
   color: var(--primary-300); 
   transition: all .3s ease-in-out;
}

.map {
    max-width: 0;
    height: 0;
    border-radius: 10px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .3s;
}

.map_active{
    max-width: 100%;
    height: 100%;
    transition: max-width .3s;
}

.container-map_active {
    width: 95%;
    grid-template-columns: 1fr 1fr;
    transition: all;
}











